<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>EParaksta Logs</h2>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Sertifikāta ID</th>
            <th>Parakstīšanas datums</th>
            <th>Statuss</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="log : ${eparaksts}">
            <td th:text="${log.eId}"></td>
            <td th:text="${log.sertifikati.sertId}"></td> 
            <td th:text="${log.parakstisanasDatums}"></td>
            <td th:text="${log.statuss}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>
