<html xmlns:th="https://www.thymeleaf.org">
<body>
    <p>Study Results:</p>

    <form method="get">
        <label for="lang">Select language:</label>
        <select name="lang" id="lang" onchange="this.form.submit()">
            <option value="">Select a Language</option>
            <option th:each="entry : ${languages}"
                    th:value="${entry.key}"
                    th:text="${entry.value}"
                    th:selected="${currentLanguage == entry.key}">
            </option>
        </select>
    </form>




    <table border="1">
        <tr>
			<td th:text="${header_rezultata_id}">Rezultāta ID</td>
            <td th:text="${header_kursa_nosaukums}">Kursa nosaukums</td>
            <td th:text="${header_stundas}">Stundas</td>
            <td th:text="${header_limenis}">Līmenis</td>
            <td th:text="${header_izieta}">Izieta</td>
        </tr>
        <tr th:each="result : ${rezultati}">
            <td th:text="${result.mrId}"></td>
            <td th:text="${result.kurss.nosaukums}"></td>
            <td th:text="${result.kurss.stundas}"></td>
            <td th:text="${result.kurss.limenis}"></td>
            <td th:text="${result.macibuRezultats} ? 'Yes' : 'No'"></td>
        </tr>
    </table>
</body>
</html>
