<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pievienot Jaunu Rezultātu</title>
</head>
<body>
    <h1>Pievienot Jaunu Rezultātu</h1>
    
    <form method="post" action="/crud/maciburezultati/insert">
        <label for="kId">Kursa ID:</label>
        <input type="number" id="kId" name="kId" required min="1">
        
        <label>
            <input type="checkbox" name="macibuRezultats" value="true">
            Kurss Iziets
        </label>
        
        <button type="submit">Pievienot</button>
    </form>
    
    <a href="/crud/maciburezultati/show/all">Atpakaļ uz sarakstu</a>
</body>
</html>
