<html xmlns:th="http://www.thymeleaf.org">
<body>
    <p>Mācību rezultāts</p>
    
    
    <form method="get">
        <label for="lang">Valodas izvēle:</label>
        <select name="lang" id="lang" onchange="this.form.submit()">
            <option value="">Select a Language</option>
            <option th:each="entry : ${languages}"
                    th:value="${entry.key}"
                    th:text="${entry.value}"
                    th:selected="${currentLanguage == entry.key}">
            </option>
        </select>
    </form>
    
    
    
    
    
    <table border="1px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kursa ID</th>
                <th>Mācību rezultāts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${rezultats.mrId}"></td>
                <td th:text="${rezultats.kurss.kId}"></td>
                <td th:text="${rezultats.macibuRezultats} ? 'Iziets' : 'Neiziets'"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
