<html xmlns:th="http://www.thymeleaf.org">
<body>
    <p>Mācību rezultāti</p>
    
    <table border="1px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kursa ID</th>
                <th>Macibu_rezultats</th>
            </tr>
        </thead>
        <tbody>
                    <tr th:each="rezultats : ${rezultati}">
                    <td th:text="${rezultats.id}"></td>
                    <td th:text="${rezultats.kursa_id}"></td>
                    <td th:text="${rezultats.macibu_rezultats}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>