<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>E-parakstaLogs</title>
</head>
<body>
    <h1>E-parakstaLogs</h1>
    
    <form method="get">
    <label for="lang">Select language:</label>
    <select id="lang" name="lang" onchange="this.form.submit()">
        <option value="">Select a Language</option>
        <option th:each="entry : ${languages}"
                th:value="${entry.key}"
                th:text="${entry.value}"
                th:selected="${currentLanguage == entry.key}">
        </option>
    </select>
</form>




    <table border="1px">
        <thead>
            <tr>
                <th th:text="${header_eparaksta_id}">E-paraksta ID</th>
                <th th:text="${header_sertifikata_id}">Sertifikāta ID</th>
                <th th:text="${header_parakstisanas_datums}">Parakstīšanas datums</th>
                <th th:text="${header_statuss}">Statuss</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="eparaksts : ${eparaksts}">
                <td th:text="${eparaksts.eId}"></td>
                <td th:text="${eparaksts.sertifikati.sertId}"></td>
                <td th:text="${#temporals.format(eparaksts.parakstisanasDatums, 'dd-MM-yyyy')}"></td>
                <td th:text="${eparaksts.statuss}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
