<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{eparaksts.title}">E-signature Log</title>
</head>
<body>
    <!-- Valodas pārslēdzējs -->
    <div style="text-align: right; padding: 10px;">
        <a th:href="@{''(lang='lv')}">LV</a> | 
        <a th:href="@{''(lang='en')}">EN</a>
    </div>

    <h1 th:text="#{eparaksts.title}">E-parakstaLogs</h1>
    
    <table border="1px">
        <thead>
            <tr>
                <th th:text="#{eparaksts.id}">E-paraksta ID</th>
                <th th:text="#{eparaksts.cert.id}">Sertifikāta ID</th>
                <th th:text="#{eparaksts.date}">Parakstīšanas datums</th>
                <th th:text="#{eparaksts.status}">Statuss</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="eparaksts : ${eparaksts}">
                <td th:text="${eparaksts.eId}"></td>
                <td th:text="${eparaksts.sertifikati.sertId}"></td>
                <td th:text="${#temporals.format(eparaksts.parakstisanasDatums, 'dd-MM-yyyy')}"></td>
                <td th:text="${eparaksts.statuss}"></td>
            </tr>
        </tbody>
    </table>
    
    <a th:href="@{/crud/eparakstalogs/show/all}" th:text="#{button.back}">Atpakaļ</a>
</body>
</html>
