<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{cert.title}">Certificate List</title>
</head>
<body>
    <!-- Valodas pārslēdzējs -->
    <div style="text-align: right; padding: 10px;">
        <a th:href="@{/crud/sertifikati/show/all(lang='lv')}">LV</a> | 
        <a th:href="@{/crud/sertifikati/show/all(lang='en')}">EN</a>
    </div>

    <h1 th:text="#{cert.title}">Sertifikātu saraksts</h1>

    <table border="1">
        <thead>
            <tr>
                <th th:text="#{cert.id}">ID</th>
                <th th:text="#{cert.issued}">Izsniegts</th>
                <th th:text="#{cert.signed}">Parakstīts</th>
                <th th:text="#{cert.participant}">Dalībnieks</th>
                <th th:text="#{cert.course.dates}">Kursa Datums</th>
                <th th:text="#{button.view}">Skatīt</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sert : ${sertifikati}">
                <td th:text="${sert.sertId}">Id</td>
                <td th:text="${sert.izsniegtsDatums}">Izsniegts</td>
                <td th:text="${sert.parakstits}">Parakstīts</td>
                <td th:text="${sert.dalibnieks.vards + ' ' + sert.dalibnieks.uzvards}">Dalībnieks</td>
                <td th:text="${sert.kursaDatums.sakumaDatums} + ' ' + ${#messages.msg('cert.from')} + ' ' + ${sert.kursaDatums.beigadatums}"></td>
                <td>
                    <a th:href="@{'/crud/sertifikati/show/' + ${sert.sertId}}" 
                       th:text="#{button.view}">Skatīt</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
