<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sertifikātu saraksts</title>
</head>
<body>
    <h1>Sertifikātu saraksts</h1>

    <div>
        <a th:href="@{/CRUD/sertifikati/add}">+ Pievienot jaunu sertifikātu</a> |
        <a th:href="@{/filter/sertifikati/form}">Filtrēt sertifikātus</a>
    </div>

    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Izsniegts</th>
                <th>Parakstīts</th>
                <th>Dalībnieks</th>
                <th>Kursa Datums</th>
                <th>Skatīt</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sert : ${package}">
                <td th:text="${sert.sertId}">Id</td>
                <td th:text="${#temporals.format(sert.izsniegtsDatums, 'dd.MM.yyyy')}">Izsniegts</td>
                <td th:text="${sert.parakstits ? '✓ Parakstīts' : '✗ Neparakstīts'}">Parakstīts</td>
                <td th:text="${sert.dalibnieks.vards + ' ' + sert.dalibnieks.uzvards}">Dalībnieks</td>
                <td th:text="${sert.kursaDatums.sakumaDatums + ' līdz ' + sert.kursaDatums.beigadatums}">Kursa Datums</td>
                <td>
                    <a th:href="@{'/CRUD/sertifikati/show/' + ${sert.sertId}}">Skatīt</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>