<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{cert.details}">Certificate Details</title>
</head>
<body>
    <!-- Valodas pārslēdzējs -->
    <div style="text-align: right; padding: 10px;">
		<a th:href="@{'/crud/sertifikati/show/' + ${sertifikats.sertId} + '?lang=lv'}">LV</a> | 
		<a th:href="@{'/crud/sertifikati/show/' + ${sertifikats.sertId} + '?lang=en'}">EN</a>
    </div>

    <h1 th:text="#{cert.details}">Sertifikāta Detalizēta Informācija</h1>

    <ul>
        <li><span th:text="#{cert.id}">ID</span>: <span th:text="${sertifikats.sertId}">Id</span></li>
        <li><span th:text="#{cert.issued}">Izsniegts</span>: <span th:text="${sertifikats.izsniegtsDatums}">Izsniegts</span></li>
        <li><span th:text="#{cert.signed}">Parakstīts</span>: <span th:text="${sertifikats.parakstits}">Parakstīts</span></li>
        <li><span th:text="#{cert.participant}">Dalībnieks</span>: <span th:text="${sertifikats.dalibnieks.vards + ' ' + sertifikats.dalibnieks.uzvards}">Dalībnieks</span></li>
        <li><span th:text="#{cert.course.dates}">Kursa Datums</span>: <span th:text="|${sertifikats.kursaDatums.sakumaDatums} #{cert.from} ${sertifikats.kursaDatums.beigadatums}|"></span></li>
    </ul>

    <a th:href="@{/crud/sertifikati/show/all}" th:text="#{cert.back}">Atpakaļ</a>

</body>
</html>
