<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sertifikātu saraksts</title>
</head>
<body>
    <h1>Sertifikātu saraksts</h1>

    <form method="get" th:action="@{/crud/sertifikati/show/all}">
        <label for="lang">Select language:</label>
        <select name="lang" id="lang" onchange="this.form.submit()">
            <option th:each="entry : ${languages}"
                    th:value="${entry.key}"
                    th:text="${entry.value}"
                    th:selected="${currentLanguage == entry.key}"> 
            </option>
        </select>
    </form>
    
    
    
    
    
    <table border="1">
        <thead>
            <tr>
                <th th:text="${header_id}">ID</th>
                <th th:text="${header_izsniegts}">Izsniegts</th>
                <th th:text="${header_parakstits}">Parakstīts</th>
                <th th:text="${header_dalibnieks}">Dalībnieks</th>
                <th th:text="${header_kursa_datums}">Kursa Datums</th>
                <th th:text="${header_skatit}">Skatīt</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sert : ${sertifikati}">
                <td th:text="${sert.sertId}">Id</td>
                <td th:text="${sert.izsniegtsDatums}">Izsniegts</td>
                <td th:text="${sert.parakstits}">Parakstīts</td>
                <td th:text="${sert.dalibnieks.vards + ' ' + sert.dalibnieks.uzvards}">Dalībnieks</td>
                <td th:text="${sert.kursaDatums.sakumaDatums + ' lidz ' + sert.kursaDatums.beigadatums}">Kursa Datums</td>
                <td>
                    <a th:href="@{'/crud/sertifikati/show/' + ${sert.sertId}}">Skatīt</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
